@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --primary: #0f52ba;
  --secondary: #89cff0;
  --bg: #f6f7f9;
  --background: #f8fafc;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-inter),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}
